@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
	margin: 0px;
	padding: 0px;
}
ul, ol, li {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	width: 100%; height: 100vh; overflow: hidden;
	background: #111; 
}

main {
	width: 100%; height: 50vh; overflow: hidden;
	background: #111; position: relative;
	top: 25vh;
}
main>img {
	width: 100%; height: 100%;
	object-fit: cover;
	position: absolute; top: 0px; left: 0px;
}
aside {
	width: 100%; height: 100vh; background: #111; position: fixed; top: 0px; left: 0px;
	font: bold 20px/1 'arial'; color: #fff;
	display: flex; justify-content: center; align-items: center; transition: 1.5s;
}
aside.off {
	opacity: 0;
}